.button {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: .8rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 100%;
    color: var(--black);
    transition: all 500ms;
    background-color: var(--primary);
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.16), 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: none;
    cursor: pointer;
    width: fit-content;
    min-height: 4.8rem;
}

.button:hover {
    background-color: var(--primaryHover);
}

.button:disabled {
    background-color: var(--primaryHover);
    cursor: default;
}