.navBar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--lightGray);
  width: 100%;
  border: 1px solid var(--lightGray);
  z-index: 1000;
}

.navBar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 152rem;
  padding: 1.6rem 3.6rem 1.6rem 3.6rem;
}